body {
  font-family: 'Roboto', sans-serif;
  /*background-color: #EDEEF0;*/
  /*background-color: #fff;*/
  background-color: #EEEEEE;
}

/* ANIMATIONS */
@-webkit-keyframes fadeInRight {
   0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateX(0);
   }
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(-100px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

/* ANIMATIONS */
.fadeInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   -webkit-animation-name: fadeInRight;
   animation-name: fadeInRight;
}

/* TYPOGRAPHY */
.text-display-4 {font-size: 112px; font-weight: 300; line-height: 128px; letter-spacing: -5px; }
.text-display-3 {font-size: 56px; font-weight: 400; line-height: 64px; }
.text-display-2 {font-size: 45px; font-weight: 400; line-height: 64px; }
.text-display-1 {font-size: 34px; font-weight: 400; line-height: 52px; }
.text-headline {font-size: 24px; font-weight: 400; line-height: 44px; }
.text-title {font-size: 20px; font-weight: 600; line-height: 44px; }
.text-subhead {font-size: 16px; font-weight: 400; line-height: 32px; }
.text-body {font-size: 14px; font-weight: 400; line-height: 25px; }
.text-caption {font-size: 12px; font-weight: 400; line-height: 32px; }
.text-menu {font-size: 14px; font-weight: 600; line-height: 32px; }
.text-button {font-size: 14px; text-transform: uppercase; font-weight: 600; line-height: 32px; }

.flow-text {
  font-weight: 300 !important;
}
@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1.2rem !important;
  }
}
@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: 1.224rem !important;
  }
}
@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: 1.248rem !important;
  }
}
@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: 1.272rem !important;
  }
}
@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: 1.296rem !important;
  }
}
@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: 1.32rem !important;
  }
}
@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: 1.344rem !important;
  }
}
@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: 1.368rem !important;
  }
}
@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: 1.392rem !important;
  }
}
@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: 1.416rem !important;
  }
}
@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: 1.44rem !important;
  }
}
@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: 1.464rem !important;
  }
}
@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.488rem !important;
  }
}
@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.512rem !important;
  }
}
@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.536rem !important;
  }
}
@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.56rem !important;
  }
}
@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.584rem !important;
  }
}
@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.608rem !important;
  }
}
@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.632rem !important;
  }
}
@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.656rem !important;
  }
}
@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.68rem !important;
  }
}
@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 1.2rem !important;
  }
}
