body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

/* ANIMATIONS */
@-webkit-keyframes fadeInRight {
   0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateX(0);
   }
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(-100px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

/* ANIMATIONS */
.fadeInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   -webkit-animation-name: fadeInRight;
   animation-name: fadeInRight;
}

/* BLOCKS */
.message{
  background:#E0E0E0;
  display:inline-block;
  padding:13px;
  width:100%;
  border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position:relative;
}
.message:before{
  content:"";
  position:absolute;
  display:block;
  left:0;
  border-right:6px solid #E0E0E0;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
  top:10px;
  margin-left:-6px;
}
.message span{
  color:#555;
  font-weight:bold;
}
.message p{
  padding-top:5px;
}

/* TYPOGRAPHY */
.text-display-4 {font-size: 112px; font-weight: 300; line-height: 128px; letter-spacing: -5px; }
.text-display-3 {font-size: 56px; font-weight: 400; line-height: 64px; }
.text-display-2 {font-size: 45px; font-weight: 400; line-height: 64px; }
.text-display-1 {font-size: 34px; font-weight: 400; line-height: 52px; }
.text-headline {font-size: 24px; font-weight: 400; line-height: 44px; }
.text-title {font-size: 20px; font-weight: 600; line-height: 44px; }
.text-subhead {font-size: 16px; font-weight: 400; line-height: 32px; }
.text-body {font-size: 14px; font-weight: 400; line-height: 25px; }
.text-caption {font-size: 12px; font-weight: 400; line-height: 32px; }
.text-menu {font-size: 14px; font-weight: 600; line-height: 32px; }
.text-button {font-size: 14px; text-transform: uppercase; font-weight: 600; line-height: 32px; }
