body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

/* ANIMATIONS */
@-webkit-keyframes fadeInRight {
   0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateX(0);
   }
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(-100px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.fadeInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   -webkit-animation-name: fadeInRight;
   animation-name: fadeInRight;
}

.message{
  background:#E0E0E0;
  display:inline-block;
  padding:13px;
  width:100%;
  border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position:relative;
}
.message:before{
  content:"";
  position:absolute;
  display:block;
  left:0;
  border-right:6px solid #E0E0E0;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
  top:10px;
  margin-left:-6px;
}
.message span{
  color:#555;
  font-weight:bold;
}
.message p{
  padding-top:5px;
}
